.footer{ 
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: gray;
  width: 100%;
  height: 50px;
  border-top: 1px solid lightgray;
  padding-left:35%;
  padding-top: 10px;
  z-index: 999;
}

.footer a{
    font-size: 18px;
    text-decoration: none;
    color: white;
    padding-left: 35px;
}


.copy{
    float: right;
    padding-right: 20px;
    font-size: 18px;
    color: #696969;
}
.navbar{
    border-bottom: 1px solid #ccc;
    background-color: gray;
    overflow: visible;
    
}

nav .navbar-nav li a {
    color: white !important;
}

.navbar-brand{
    color: white !important;
}

.wrapper{
    background-image: url("../images/pozadina1.jpg");
    height: 100vh;
    width: auto;
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 6rem;
}

.regwrapper{
   background-color: rgb(248,248,248,0.5);
   text-align: center;
   position: absolute;
   justify-content: center;
   top:10px;
   width:55%; 
   box-shadow: 19px 21px 19px -5px rgba(66,61,66,1);
}


.tab { 
  overflow: hidden;
  border-bottom: none;
  background-color: #f1f1f1;
}

.tabInfo{
  overflow: hidden;
  border-bottom: none;
  background-color: #0275d8;
  color: white;
  padding: 10px;
}


.tab button {
  background-color: inherit;
  width: 50%;
  float:left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}


.tab button:hover {
  background-color: #ddd;
}


.tab button.active {
  background-color: #0275d8;
  color: white;
  border: none;
  outline: none;
}

.tab button:focus {outline:0;}


.tabcontent {
  display: none;
  padding: 30px 12px;
  border: 1px solid #ccc;
  border-top: none;
  height: 75vh;

}

.tabcontent {
 animation: fadeEffect 1s; 
}


@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

#container1{
background-image: url('../images/pozadina1.jpg');
max-width: 100%;
}

#container2{
    height: 120px;
    background-color: lightgray;
    max-width: 100%;
}

#container3{
    background-color: #696969;
    color: white;
    max-width: 100%
}

#container4{
    
    background-color: lightgray;
    max-width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

#container5{
    margin-bottom: 0px;
    background-color: #696969;
    max-width: 100%;
    height: 150px;
    color: lightcyan;
    font-style: italic;
    border-style: dashed;
    font-size: 18px;
}

.tabcontentInfo{
    padding: 30px 12px;
    border: 1px solid #ccc;
    border-top: none;
    height: 75vh;
}



.div.main {
  width:90%;
  overflow:hidden;
  margin: 2.5em auto;
  height: auto;
  border: 2px solid gray;
  padding: 1.2em 0;
  font-size: 1.5em;
  font-family: "Agency FB";
  color: #E4F6F8;
}
.div.slide-right p {
  -moz-animation: 10s slide-right;
  -webkit-animation: 10s slide-right;
  -o-animation: 10s slide-right;
  animation: 10s slide-right;
  margin:0;
}
.div.slide-left p {
  -moz-animation: 10s slide-left;
  -webkit-animation: 10s slide-left;
  -o-animation: 10s slide-left;
  animation: 10s slide-left;
  margin:0;
}
@-webkit-keyframes slide-right { from { margin-left: 100%;width: 300%; }
  to {margin-left: 0%;width: 100%;} }
@-moz-keyframes slide-right { from { margin-left: 100%;width: 300%; }
  to {margin-left: 0%;width: 100%;} }
 @-o-keyframes slide-right { from { margin-left: 100%;width: 300%; }
  to {margin-left: 0%;width: 100%;} }
@keyframes slide-right { from { margin-left: 100%;width: 300%; }
  to {margin-left: 0%;width: 100%;} }

@-webkit-keyframes slide-left { from {margin-left: 0%;width: 100%;}
 to {margin-left: -100%;width: 300%;} }
@-moz-keyframes slide-left { from {margin-left: 0%;width: 100%;}
 to {margin-left: -100%;width: 300%;} }
@-o-keyframes slide-left { from {margin-left: 0%;width: 100%;}
 to {margin-left: -100%;width: 300%;} }
@keyframes slide-left { from {margin-left: 0%;width: 100%;}
 to {margin-left: -100%;width: 300%;} }

.infoStudije{
    border: 2px solid lightblue;
    width: 80%;
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.addInput{
    border: 2px solid lightblue;
    width: 80%;
    margin-left: 10%;
    margin-top:10px;
    margin-bottom: 10px;
    padding: 10px;
}

#polZenski, #polMuski{
    margin-left: 10px;
}




.regwrapper .container-fluid{
    margin-bottom: 10px !important;
}

html{
    background-color: dimgrey;
}


.wrap .fa{
  color: #fff;
  position: absolute;
  right: 17px;
  top: 15px;
  font-size: 22px;
  cursor: pointer;
}

.wrap.active{
  width: 200px;
  padding-left: 25px;
  transition: all 0.5s ease;
}

.input.active{
  width: 98%;
  padding-left: 5px;
  transition: all 0.5s 0.8s ease;
}

input::placeholder {
  color: #fff;
}

.input {
    border: 0;
    background: transparent;
    width: 0%;
    outline: none;
    font-family: sans-serif;
    font-size: 18px;
    color: #fff;
    font-style: italic;
    transition: all 0.3s ease;
    position: relative;
}
button, input {
    overflow: visible;
}


.wrap {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    width: 0px;
    height: 40px;
    background: darkgray;
    line-height: 55px;
    padding-right: 55px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transition: all 0.5s ease;
}

#iskustvaNaslov{
    text-decoration: underline;
    font-size: 30px;
    font-weight: bold;
}

#iskustva{
    font-style: italic;
}

#usloviKor{
    background-color: #D3D3D3;
    color: black;
    border: double;
    border-color: darkblue;
    border-width: 20px;
}

#naslovOnama{
    color: darkblue;
    text-shadow: -1px -1px 1px #aaa,
             0px 4px 1px rgba(0,0,0,0.5),
             4px 4px 5px rgba(0,0,0,0.7),
             0px 0px 7px rgba(0,0,0,0.4)
}

#oNama{
    background-color: #D3D3D3;
    color: darkblue;
    border: double;
    border-color: darkblue;
    border-width: 20px;
    font-style: italic;    
         
}

#target{
    font-size: 30px;
}

#mejl{
    font-size: 30px;
    color: darkgreen;
}

.poruka {
    overflow: auto;
    overflow-wrap: normal;
}

.lajk {
    
    float: right;
}

#formaDivKat{
    display: none;
}

.container-fluid {
    margin-bottom: 50px;
}

#formaDiv{
    display: none;
}
#formaDivV{
    display: none;
}

#formaDivO{
    display: none;
}




.levo{

    padding-top: 30px;
    padding-bottom: 30px;
    border: 1px solid lightgray;
    line-height: 3;
}
.centar{
    margin-top: 20px;
    padding: 10px;
    border: 1px solid lightgray;
    box-shadow: -14px 17px 15px -8px rgba(0, 0, 0, 1);
    background-color:white;
}


.postdesno{
    margin-top: 20px;
    padding: 10px;
    border: 1px solid lightgray;
    box-shadow: -14px 17px 15px -8px rgba(0, 0, 0, 1);

}

#strelicaLevo{
   height: 80px;
   width: 80px;
   margin-bottom: 40px;
}

#strelicaDesno{
   height: 80px;
   width: 80px;
   margin-top: 33px;
   
}

#uslkor{
   margin-left: 210px;
}

#onam{
    margin-left: 50px;
}

#kont{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
    color: darkblue;
}

.naslovReg{
  background-color: #0275d8;
  color: white;
  padding: 5px;
  min-width: 100px;
  display: inline-block;
  border-radius: 3px;
}

.formaReg{
    margin-top: 20px; 
}

/*SKROL da bude lep*/

.scroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #FFFFFF;
        border-radius: 10px;
}

.scroll::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.scroll::-webkit-scrollbar-thumb
{
	background-color: lightgray;
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
                                            left bottom,
                                            left top,
                                            color-stop(0.44, rgb(128,128,128)),
                                            color-stop(0.72, rgb(168,168,168)),
                                            color-stop(0.86, lightgray));
}

/* STIL ZA CHECKBOX*/

.badgebox
{
    opacity: 0;
}

.badgebox + .badge
{
    /* Move the check mark away when unchecked */
    text-indent: -999999px;
    /* Makes the badge's width stay the same checked and unchecked */
	width: 27px;
}

.badgebox:focus + .badge
{
    /* Set something to make the badge looks focused */
    /* This really depends on the application, in my case it was: */
    
    /* Adding a light border */
    box-shadow: inset 0px 0px 5px;
    /* Taking the difference out of the padding */
}

.badgebox:checked + .badge
{
    /* Move the check mark back when checked */
	text-indent: 0;
}

.dodatneInfoForma{
    margin-top: 20px; 
}

#obav{
    height: 400vh;
    
}

#ogl{
    height: 400vh;
}

#ves{
    height: 400vh;
}

#list-0-list {
    box-sizing: border-box;
    width: 11em;
    height: 3em;
    font-size: 20px;
    border-radius: 0.5em;
    margin: 0.5em;
    box-shadow: 0 0 1em rgba(0,0,0,0.2);
    color: white;
    font-family: sans-serif;
    text-transform: capitalize;
    line-height: 2em;
    transition: 0.3s;
    cursor: pointer;
}

#list-0-list:nth-child(odd) {
    background: linear-gradient(to right, blue, tomato);
    text-align: left;
    padding-left: 10%;
    transform: perspective(500px) rotateY(45deg);
}

#list-0-list:nth-child(even) {
    background: linear-gradient(to left, blue, tomato);
    text-align: right;
    padding-right: 10%;
    transform: perspective(500px) rotateY(-45deg);
}

#list-0-list:nth-child(odd):hover {
    transform: perspective(200px) rotateY(45deg);
    padding-left: 5%;
}

#list-0-list:nth-child(even):hover {
    transform: perspective(200px) rotateY(-45deg);
    padding-right: 5%;
}

#list-1-list {
    box-sizing: border-box;
    width: 11em;
    height: 3em;
    font-size: 20px;
    border-radius: 0.5em;
    margin: 0.5em;
    box-shadow: 0 0 1em rgba(0,0,0,0.2);
    color: white;
    font-family: sans-serif;
    text-transform: capitalize;
    line-height: 2em;
    transition: 0.3s;
    cursor: pointer;
}

#list-1-list:nth-child(odd) {
    background: linear-gradient(to right, blue, tomato);
    text-align: left;
    padding-left: 10%;
    transform: perspective(500px) rotateY(45deg);
}

#list-1-list:nth-child(even) {
    background: linear-gradient(to left, blue, tomato);
    text-align: right;
    padding-right: 10%;
    transform: perspective(500px) rotateY(-45deg);
}

#list-1-list:nth-child(odd):hover {
    transform: perspective(200px) rotateY(45deg);
    padding-left: 5%;
}

#list-1-list:nth-child(even):hover {
    transform: perspective(200px) rotateY(-45deg);
    padding-right: 5%;
}

#list-2-list {
    box-sizing: border-box;
    width: 11em;
    height: 3em;
    font-size: 20px;
    border-radius: 0.5em;
    margin: 0.5em;
    box-shadow: 0 0 1em rgba(0,0,0,0.2);
    color: white;
    font-family: sans-serif;
    text-transform: capitalize;
    line-height: 2em;
    transition: 0.3s;
    cursor: pointer;
}

#list-2-list:nth-child(odd) {
    background: linear-gradient(to right, blue, tomato);
    text-align: left;
    padding-left: 10%;
    transform: perspective(500px) rotateY(45deg);
}

#list-2-list:nth-child(even) {
    background: linear-gradient(to left, blue, tomato);
    text-align: right;
    padding-right: 10%;
    transform: perspective(500px) rotateY(-45deg);
}

#list-2-list:nth-child(odd):hover {
    transform: perspective(200px) rotateY(45deg);
    padding-left: 5%;
}

#list-2-list:nth-child(even):hover {
    transform: perspective(200px) rotateY(-45deg);
    padding-right: 5%;
}

#list-3-list {
    box-sizing: border-box;
    width: 11em;
    height: 3em;
    font-size: 20px;
    border-radius: 0.5em;
    margin: 0.5em;
    box-shadow: 0 0 1em rgba(0,0,0,0.2);
    color: white;
    font-family: sans-serif;
    text-transform: capitalize;
    line-height: 2em;
    transition: 0.3s;
    cursor: pointer;
}

#list-3-list:nth-child(odd) {
    background: linear-gradient(to right, blue, tomato);
    text-align: left;
    padding-left: 10%;
    transform: perspective(500px) rotateY(45deg);
}

#list-3-list:nth-child(even) {
    background: linear-gradient(to left, blue, tomato);
    text-align: right;
    padding-right: 10%;
    transform: perspective(500px) rotateY(-45deg);
}

#list-3-list:nth-child(odd):hover {
    transform: perspective(200px) rotateY(45deg);
    padding-left: 5%;
}

#list-3-list:nth-child(even):hover {
    transform: perspective(200px) rotateY(-45deg);
    padding-right: 5%;
}

