.levo{
    height: 70vh;
    padding-top: 30px;
    border: 1px solid lightgray;
    line-height: 3;
}

.centar{
    margin-top: 20px;
    padding: 10px;
    border: 1px solid lightgray;
    box-shadow: -14px 17px 15px -8px rgba(0, 0, 0, 1);
}
