
.kfooter{ 
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  border-top: 1px solid lightgray;
  padding-left:35%;
  padding-top: 10px;
  background-color: #4169E1;
  z-index: 999;
}

.kfooter a{
    font-size: 18px;
    text-decoration: none;
    color: white;
    padding-left: 35px;
}


.copy{
    float: right;
    padding-right: 20px;
    font-size: 18px;
    color: white;
}

.navbar{
    border-bottom: 1px solid lightgray;
    background-color: #4169E1;
    
}

.levo {
    padding-top: 30px;
    padding-bottom: 30px;
    border: 1px solid lightgray;
    line-height: 3;
}

.desno{
    padding-top: 30px;
    padding-bottom: 30px;
    border: 1px solid lightgray;
}

.centar{
    margin-top: 20px;
    padding: 10px;
    border: 1px solid lightgray;
    box-shadow: -14px 17px 15px -8px rgba(0, 0, 0, 1);
    overflow:hidden;
    text-overflow: ellipsis;
    background-color: white;
    white-space: nowrap; 
}

.container-fluid{
    margin-bottom:50px;
}


#formaDiv{
    display: none;
}

#formaDivKat{
    display: none;
}




.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding: 20px 200px 0;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  height: 90vh;
  overflow: auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #4169E1;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #4169E1;
  color: white;
}

.regForm .form-control{
    width: 50% !important;
}

.plata-input{
    width: 50% !important;
    flex-wrap: nowrap !important;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.naslov-oglas{
    text-align: center;
}

.kompanija-oglas{
    border-top: 1px solid black;
    text-align: center;
    padding: 20px;
}

.aktivan-oglas{
     background-color: #4169E1;
     color: white;
     padding: 10px 10px;
     border-radius: 15px;
     width: 200px;
}

.istekao-oglas{
    background-color: red;
     color: white;
     padding: 10px 10px;
     border-radius: 15px;
     width: 200px;
}
 .oglas-wrapper{
    border: 1px solid black;
    margin: 20px 0;
    padding: 0 30px 30px 40px;
    }

    
#formaDivKat{
    display: none;
}
#formaDiv{
    display: none;
}
#formaDivV{
    display: none;
}
#formaDivO{
    display: none;
}


#parametri {

    position: -webkit-sticky;
    position: sticky;
    top: 20px;
}


#clanoviGrupe {
    

    position: -webkit-sticky;
    position: sticky;
    top: 20px;
}

#usloviKor{
    background-color: #D3D3D3;
    color: black;
    border: double;
    border-color: black;
    border-width: 20px;
}

#oNama{
    background-color: #D3D3D3;
    color: black;
    border: double;
    border-color: black;
    border-width: 20px;
    font-style: italic;
    text-shadow: -1px -1px 1px #aaa,
             0px 4px 1px rgba(0,0,0,0.5),
             4px 4px 5px rgba(0,0,0,0.7),
             0px 0px 7px rgba(0,0,0,0.4);
}

    
    /*    css za pretraguuu*/
    
    .pretraga-container{
        padding: 20px;
        line-height: 2;
    }
    
    .btn-pretraga{
        margin-left: 10px;
        width: 40%;
        height: 100px;
        color: white !important;
        font-weight: bold !important;
        font-size: 150% !important;
    }
    
    #pretraga-stud-div, #pretraga-komp-div{
        display: none;
    }
    
    .btn-pretrazi{
        width: 100%;
        height: 100px;
        color: white !important;
        font-weight: bold !important;
        font-size: 150% !important;
    }
    
    .pretraga-wrapper{
        padding: 15px;
        box-shadow: 0px 0px 26px 4px rgba(39,115,245,0.34);
        border-radius: .25rem;
        
    }
    
    .user-img-pretraga{
        border-radius: 50%;
        width:50px;
        height: 50px;
    }
    
    .pretraga-rezultat-student{
        margin-top:20px;
        margin-bottom: 20px;
        border: 1px solid lightblue;
        padding: 10px;
    }
    
    #pretraga-res{
        max-height: 500px;
        overflow: auto;
    }
    
    
/*    scroll da bude lep*/

.scroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.scroll::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.scroll::-webkit-scrollbar-thumb
{
	background-color: #0ae;
	
	background-image: -webkit-gradient(linear, 0 0, 0 100%,
	                   color-stop(.5, rgba(255, 255, 255, .2)),
					   color-stop(.5, transparent), to(transparent));
}


/* grupe */


.formaGrupe {
    
    
    margin-top: 10px;
    padding: 10px;
    border: 1px solid lightgray;
    box-shadow: -14px 17px 15px -8px rgba(0, 0, 0, 1);
}

/*div za dodavanje grupe na nivou pretrage*/

#dodavanjeGrupeDiv{
    display: none;
}


/* statistika */

.stats {
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    
}

#obav{
    margin-bottom: 196px;
    
}

#ogl{
    margin-bottom: 196px;
}

#pret{
    margin-bottom: 65px;
}