
.sfooter{ 
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    border-top: 1px solid lightgray;
    padding-left:35%;
    padding-top: 10px;
    background: linear-gradient(to top, #000066 0%, #0066ff 70%);
    z-index:999;
}

.sfooter a{
    font-size: 18px;
    text-decoration: none;
    color: white;
    padding-left: 35px;
}


.copy{
    float: right;
    padding-right: 20px;
    font-size: 18px;
    color: white;
}

.navbar{
    border-bottom: 1px solid lightgray;
    background: linear-gradient(to bottom, #000066 0%, #3333ff 100%);;

}

.levo{

    padding-top: 30px;
    padding-bottom: 30px;
    border: 1px solid lightgray;
    line-height: 3;
}

.centar{
    margin-top: 20px;
    padding: 10px;
    border: 1px solid lightgray;
    box-shadow: -14px 17px 15px -8px rgba(0, 0, 0, 1);
}


.postdesno{
    margin-top: 20px;
    padding: 10px;
    border: 1px solid lightgray;
    box-shadow: -14px 17px 15px -8px rgba(0, 0, 0, 1);
}


#formaDivKat{
    display: none;
}

.container-fluid {
    margin-bottom: 50px;
}

#formaDiv{
    display: none;
}
#formaDivV{
    display: none;
}

#formaDivO{
    display: none;
}



.btn-search-job{
    margin-top: 20px;
}

.naslov-oglas{
    text-align: center;
}

.kompanija-oglas{
    border-top: 1px solid black;
    text-align: center;
    padding: 20px;
}

.aktivan-oglas{
    background-color: #4169E1;
    color: white;
    padding: 10px 10px;
    border-radius: 15px;
    width: 200px;
}

.istekao-oglas{
    background-color: red;
    color: white;
    padding: 10px 10px;
    border-radius: 15px;
    width: 200px;
}
.oglas-wrapper{
    border: 1px solid black;
    margin: 20px;
    padding: 0 30px 30px 40px;
}

#parametri {

    position: -webkit-sticky;
    position: sticky;
    top: 20px;
}


#clanoviGrupe {
    
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
}


