.afooter{ 
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #f8f9fa;
  width: 100%;
  height: 50px;
  border-top: 1px solid lightgray;
  padding-left:35%;
  padding-top: 10px;
  z-index: 999;
}

.afooter a{
    font-size: 18px;
    text-decoration: none;
    color: #696969;
    padding-left: 35px;
}

.copy{
    float: right;
    padding-right: 20px;
    font-size: 18px;
    color: #696969;
}


.navbar{
    border-bottom: 1px solid lightgray;
    
}

.levo, .desno{
    padding-top: 15px;
    padding-bottom: 30px;
    border: 1px solid lightgray;
    border-top: none !important;
    line-height: 3;
    height: calc(100vh - 135px);
}

.sifrarniciNaziv{
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-bottom: 7px;
    text-align: center;
    background-color: #f8f9fa;
    cursor: pointer;
}

.sifrarniciNaziv:hover{
     background-color: #E0E0E0;
}

.zahteviNaziv{
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
    text-align: center;
    background-color: #f8f9fa;
    cursor: pointer; 
}

.zahteviNaziv:hover{
     background-color: #E0E0E0;
}


/*stats, izvestaji */
.stats {
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    
}

.prikazResSifrarnici{
    height: 70vh;
    border: 1px solid lightgray; 
    overflow: auto;
    padding: 20px;
    line-height: 3;
}

.sifrarnikStavka{
    display: inline-block;
    border: 1px solid lightgray;
    border-radius: 10px;
    background-color: #f8f9fa;
    padding: 5px 10px;
    margin: 10px;
}

#resDiv{
    padding-top: 15px;
}

#resDiv h4{
    color: gray;
}

.scroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.scroll::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

.scroll::-webkit-scrollbar-thumb
{
	background-color: lightgray;
	
}

.izmenaStavke{
    text-align: center;
    line-height: 1.5;
    border: none;
    border-radius: 10px;
    background-color: #E0E0E0;
}

.izmenaStavke:focus{
    outline: none;
}

.izmenaSifrarnikaInput{
    display: none;
}

/*    css za pretraguuu*/
    
    .pretraga-container{
        padding: 20px;
        line-height: 2;
    }
    
    .btn-pretraga{
        margin-left: 10px;
        width: 40%;
        height: 100px;
        color: white !important;
        font-weight: bold !important;
        font-size: 150% !important;
    }
    
    #pretraga-stud-div, #pretraga-komp-div{
        display: none;
    }
    
    .btn-pretrazi{
        width: 100%;
        height: 100px;
        color: white !important;
        font-weight: bold !important;
        font-size: 150% !important;
    }
    
    .pretraga-wrapper{
        padding: 15px;
        box-shadow: 0px 0px 26px 4px rgba(39,115,245,0.34);
        border-radius: .25rem;
        
    }
    
    .user-img-pretraga{
        border-radius: 50%;
        width:50px;
        height: 50px;
    }
    
    .pretraga-rezultat-student{
        margin-top:20px;
        margin-bottom: 20px;
        border: 1px solid lightblue;
        padding: 10px;
    }
    
    #pretraga-res{
        max-height: 500px;
        overflow: auto;
    }
    
    /*div za dodavanje grupe na nivou pretrage*/

#dodavanjeGrupeDiv{
    display: none;
}

/*    scroll da bude lep*/

.pret .scroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.pret .scroll::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.pret .scroll::-webkit-scrollbar-thumb
{
	background-color: #0ae;
	
	background-image: -webkit-gradient(linear, 0 0, 0 100%,
	                   color-stop(.5, rgba(255, 255, 255, .2)),
					   color-stop(.5, transparent), to(transparent));
}

.div-group{
    border: 1px solid lightgray;
    border-radius: 10px;
    margin: 5px;
}

.div-group-opis{
    border: 1px solid lightgray;
    border-radius: 10px;
    margin: 5px;
    min-height: 70px;
}


.labela-zahtev{
    display: inline-block;
    background-color: #f8f9fa;
    border-radius: 10px 0px 0px 10px;
    border-right: 1px solid lightgray;
    padding: 5px;

}

.labela-zahtev-opis{
    display: inline-block;
    background-color: #f8f9fa;
    border-radius: 10px 0px 0px 0px;
    border-right: 1px solid lightgray;
    border-bottom: 0.5px solid lightgray;
    padding: 5px; 
}


.jedan-zahtev{
    border: 5px ridge #E8E8E8;
    border-radius: 10px;
    margin:20px 0;
    padding: 10px;
}

.notif{
    display: inline-block;
}

