.footer{ 
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: gray;
  width: 100%;
  height: 50px;
  border-top: 1px solid lightgray;
  padding-left:35%;
  padding-top: 10px;
  z-index: 999;
}

.footer a{
    font-size: 18px;
    text-decoration: none;
    color: white;
    padding-left: 35px;
}


.copy{
    float: right;
    padding-right: 20px;
    font-size: 18px;
    color: #696969;
}
.navbar{
    border-bottom: 1px solid #ccc;
    background-color: gray;
    overflow: visible;
    
}

nav .navbar-nav li a {
    color: white !important;
}

.navbar-brand{
    color: white !important;
}

.wrapper{
    height: 100vh;
    width: auto;
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #E1E8ED;
    padding-bottom: 6rem;
    background-color: dimgrey;
}

.regwrapper{
   text-align: center;
   position: absolute;
   justify-content: center;
   top:10px;
   width:55%; 
}


.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  border-bottom: none;
  background-color: #f1f1f1;
}


.tab button {
  background-color: inherit;
  width: 50%;
  float:left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}


.tab button:hover {
  background-color: #ddd;
}


.tab button.active {
  background-color: lightgray;
  border: none;
  outline: none;
}

.tab button:focus {outline:0;}


.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  height: 75vh;
  background-color: lightgray;
}
/*
.tabcontent {
 animation: fadeEffect 1s; 
}*/


/*@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}*/

#container1{
background-image: url('../images/pozadina1.jpg');
max-width: 100%;
}

#container2{
    height: 120px;
    background-color: lightgray;
    max-width: 100%;
}

#container3{
    background-color: #696969;
    color: white;
    max-width: 100%
}

#container4{
    
    background-color: lightgray;
    max-width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

#container5{
    margin-bottom: 0px;
    background-color: #696969;
    max-width: 100%;
    height: 100px;
    color: lightcyan;
    font-style: italic;
    border-style: dashed;
    font-size: 18px;
}

.tabcontentInfo{
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    height: 75vh;
    background-color: white;
}



.div.main {
  width:90%;
  overflow:hidden;
  margin: 2.5em auto;
  height: auto;
  border: 2px solid gray;
  padding: 1.2em 0;
  font-size: 1.5em;
  font-family: "Agency FB";
  color: #E4F6F8;
}
.div.slide-right p {
  -moz-animation: 10s slide-right;
  -webkit-animation: 10s slide-right;
  -o-animation: 10s slide-right;
  animation: 10s slide-right;
  margin:0;
}
.div.slide-left p {
  -moz-animation: 10s slide-left;
  -webkit-animation: 10s slide-left;
  -o-animation: 10s slide-left;
  animation: 10s slide-left;
  margin:0;
}
@-webkit-keyframes slide-right { from { margin-left: 100%;width: 300%; }
  to {margin-left: 0%;width: 100%;} }
@-moz-keyframes slide-right { from { margin-left: 100%;width: 300%; }
  to {margin-left: 0%;width: 100%;} }
 @-o-keyframes slide-right { from { margin-left: 100%;width: 300%; }
  to {margin-left: 0%;width: 100%;} }
@keyframes slide-right { from { margin-left: 100%;width: 300%; }
  to {margin-left: 0%;width: 100%;} }

@-webkit-keyframes slide-left { from {margin-left: 0%;width: 100%;}
 to {margin-left: -100%;width: 300%;} }
@-moz-keyframes slide-left { from {margin-left: 0%;width: 100%;}
 to {margin-left: -100%;width: 300%;} }
@-o-keyframes slide-left { from {margin-left: 0%;width: 100%;}
 to {margin-left: -100%;width: 300%;} }
@keyframes slide-left { from {margin-left: 0%;width: 100%;}
 to {margin-left: -100%;width: 300%;} }

.infoStudije{
    border: 2px solid lightblue;
    width: 50%;
    margin-left: 25%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 0;
}

.addInput{
    border: 2px solid lightblue;
    width: 50%;
    margin-left: 25%;
    padding: 3px;
}

#regStuForm{
    margin-bottom: 50px;
    
}

html{
    background-color: dimgrey;
}


.wrap .fa{
  color: #fff;
  position: absolute;
  right: 17px;
  top: 15px;
  font-size: 22px;
  cursor: pointer;
}

.wrap.active{
  width: 200px;
  padding-left: 25px;
  transition: all 0.5s ease;
}

.input.active{
  width: 98%;
  padding-left: 5px;
  transition: all 0.5s 0.8s ease;
}

input::placeholder {
  color: #fff;
}

.input {
    border: 0;
    background: transparent;
    width: 0%;
    outline: none;
    font-family: sans-serif;
    font-size: 18px;
    color: #fff;
    font-style: italic;
    transition: all 0.3s ease;
    position: relative;
}
button, input {
    overflow: visible;
}


.wrap {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    width: 0px;
    height: 40px;
    background: darkgray;
    line-height: 55px;
    padding-right: 55px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transition: all 0.5s ease;
}

#iskustvaNaslov{
    text-decoration: underline;
    font-size: 30px;
    font-weight: bold;
}

#iskustva{
    font-style: italic;
}

#usloviKor{
    background-color: #D3D3D3;
    color: black;
    border: double;
    border-color: darkblue;
    border-width: 20px;
}

#naslovOnama{
    color: darkblue;
    text-shadow: -1px -1px 1px #aaa,
             0px 4px 1px rgba(0,0,0,0.5),
             4px 4px 5px rgba(0,0,0,0.7),
             0px 0px 7px rgba(0,0,0,0.4)
}

#oNama{
    background-color: #D3D3D3;
    color: darkblue;
    border: double;
    border-color: darkblue;
    border-width: 20px;
    font-style: italic;    
         
}

#target{
    font-size: 30px;
}

#mejl{
    font-size: 30px;
    color: darkgreen;
}