<?php  

Defined('BASEPATH') or exit('No direct script access allowed');

//mailtrap- https://mailtrap.io


$config['protocol'] = 'smtp';
$config['mailpath'] = '';
$config['smtp_host']='smtp.mailtrap.io';
$config['smtp_user']='f83f64549786e1';
$config['smtp_pass']='010bc8a5055130';
$config['smtp_port']='2525';
$config['wordwrap'] = false;
$config['mailtype'] = "html";
$config['crlf'] = "\r\n";
$config['newline'] = "\r\n";

/* End of file config.php */
/* Location: ./application/config/config.php */
