
<?php  

Defined('BASEPATH') or exit('No direct script access allowed');

//mailtrap- https://mailtrap.io


$config['protocol'] = 'smtp';
$config['mailpath'] = '';
$config['smtp_host']='smtp.mailtrap.io';
$config['smtp_user']='e9aeb3b61cf1a66bf272cc460a3cb2cf';
$config['smtp_pass']='eyJhbGciOiJIUzUxMiJ9.eyJkYXRhIjp7InRva2VuIjoiZTlhZWIzYjYxY2YxYTY2YmYyNzJjYzQ2MGEzY2IyY2YifX0.Z9b0_yW7qXb8NbJT0FPNqC3USrr9Geaz5wxEWS4zVWboiIoUFrnnZdiiLTM2l4j1WxjKR2LL2omHgH6rEoCeUA';
$config['smtp_port']='2525';
$config['wordwrap'] = false;
$config['mailtype'] = "html";
$config['crlf'] = "\r\n";
$config['newline'] = "\r\n"
/* End of file config.php */
/* Location: ./application/config/config.php */

 
